<div class="container">
	<div class="row search-block">
		<div class="col-md-6">
			<div class="col-md-12 search-box">
				<h2 class="hs">Seleccionar Vehículo</h2>
				<!--<form action="<?php echo base_url() ?>Categoria" id="form-dinamic" method="GET">-->
				<fieldset>
					<select class="browser-default custom-select mb-4" name="cmbMarca" id="getFabricantes" required onchange="Cambiar()">
						<option value="">Seleccione un Fabricante</option>
					</select> 
					<select class="browser-default custom-select mb-4" name="cmbModelo" id="getModelos" required>
						<option value="">Seleccione un Modelo</option>
					</select> 
					<select class="browser-default custom-select mb-1" name="cmbCombustible" id="getCombustible" required>
						<option value="">Seleccione el tipo de combustible</option>
					</select>
				</fieldset>
				<!--<input class="btn-select-car" type="submit" value="Enviar">-->
				<button type="submit" class="btn-select-car">Enviar</button>
				<!--</form>-->
				<!-- <a class="btn-select-car" href=""  onclick="Busqueda();"  id="search-car"><i class="fa fa-search"></i>&nbsp;buscar</a> -->
			</div><!-- Cierra Class search-block -->
		</div> <!-- Cierra Class col-sm-12 -->
		<div class="col-md-6">
			<img class="img-fluid" src="imagen/banneroferta.jpg" alt="">
		</div>
	</div><!-- Cierra Class Row -->
</div><!-- Cierra Class Container -->

<div class="" id="aca"></div>
<div class="container">
	<!-- Texto Informativo -->
	<div class="row">
		<div class="col-md-12">
			<div class="info-home">
				<h2>Tienda Repuesto (Repuesto.cl) tu tienda online de repuestos para casi todas las marcas y modelos.</h2>
				<p> Ofrece un amplio stock de repuestos originales y alternativos para varias marcas y modelos. Si buscas un repuesto como kit de embrague, juego de empaquetaduras, amortiguadores, discos y pastillas de freno, afinamientos... Recambio y repuestos para casi todas las marcas, pero si no lo tenemos, lo buscamos por ti.</p>
				<p>Estas son algunas de las marcas con las que trabajamos: Hyundai, Daewoo, Kia, Chevrolet, Nissan, Peugeot, Opel, Toyota, Volkswagen Mercedes-Benz, Audi, y más...</p>
				<p>Tenemos precios Competitivos para que no tenga que buscar un buen tiempo sus productos </p>
				<p>Tenemos una atencion de lunes a sabado desde las 9am hasta las 17:00pm </p>
			</div><!-- Cierra Class info-home -->
		</div><!-- Cierra Class col-sm-12 -->
	</div><!-- Cierra Class Row -->
</div>