   <div class="container mt-3">
        <div class="jumbotron">
            <h1>REGISTRO</h1>
            <br>

             <form id="formRegister" enctype="multipart/form-data">
                <div class="form-group col-md-12">
                    Email: <input id="email" class="form-control" type="text" name="email" required>
                    Nombres: <input id="name" class="form-control" type="text" name="name" required>
                    Apellidos: <input id="last_name" class="form-control" type="text" name="last_name" required>
                    Edad: <input id="age" class="form-control" type="number" name="age" required>
                    telefono: <input id="phone" class="form-control" type="text" name="phone" required>
                    Alias:<input id="alias" class="form-control" type="text" name="alias" >
                    Password: <input id="password" class="form-control" type="password" name="password" required>
                    direccion: <input id="adress" class="form-control" type="text" name="adress" required>
                    Foto: <input id="avatar" class="form-control" type="file" name="avatar" required>
                                
                <button class="btn btn-success mt-3 " >Registrarse</button>    		

                </div>
    
               
            </form>

             <div>
                <a href="login">
                <button class="btn btn-success mt-3" >Ir a login</button>

                </a>
            </div>
        </div>


        <script src="js/usuario.js"></script>