   <div class="container mt-3">
        <div class="jumbotron">
            <h1>Login</h1>
            <br>

             <form action="/login" autocomplete="off" method="POST">
                <div class="form-group col-md-12">
               
                    Ingrese su usuario <input id="nombre" class="form-control" type="text" name="nombre" required>
                    Ingrese su password <input id="password" class="form-control" type="text" name="password" required>

                    <button class="btn btn-success mt-3">Ingresar</button>
                </div>
    
               
            </form>
        </div>