   <div class="container mt-3">
        <div class="jumbotron">
            <h1>Login</h1>
            <br>

             <form id="formLogin">
                <div class="form-group col-md-12">
               
                    Ingrese su email <input id="id" class="form-control" type="text" name="id" required>
                    Ingrese su password <input id="password" class="form-control" type="text" name="password" required>

                    <button class="btn btn-success mt-3">Ingresar</button>
                </div>
    
               
            </form>
        </div>

        <script src="js/usuario.js"></script>