<footer>
  <div class="container mt-5">
    <div class="row">
            <div class="col-sm-3">
        <h5>INFORMACIÓN</h5>
        <ul class="list-links">
          <li><i class="fa fa-angle-right"></i><a href="#" title="Métodos de pago">Métodos de pagos</a></li>
          <li><i class="fa fa-angle-right"></i><a href="#" title="Nuestras marcas">Marcas</a></li>
                    <li><i class="fa fa-angle-right"></i><a href="#">Política de Envío</a></li>
                    <li><i class="fa fa-angle-right"></i><a href="#">Política de Privacidad</a></li>
                    <li><i class="fa fa-angle-right"></i><a href="#">Condiciones de Uso</a></li>
                  </ul>
      </div>
            <div class="col-sm-3">
        <h5>ATENCIÓN AL CLIENTE</h5>
        <ul class="list-links">
          <li><i class="fa fa-angle-right"></i><a href="#">Contacto</a></li>
          <li><i class="fa fa-angle-right"></i><a href="#">Registrar</a></li>
          <li><i class="fa fa-angle-right"></i><a href="#">Mi cuenta</a></li>
          <li><i class="fa fa-angle-right"></i><a href="#">Devoluciones</a></li>
          <li><i class="fa fa-angle-right"></i><a href="#">Preguntas</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>MAPA Y LOCALIZACIÓN</h5>
        <div id="map"><a href="#"><img src="#imagen" alt="Información de contacto" height="150"/></a></div>
      </div>
      <div class="col-sm-3">
        <h5>INFORMACIÓN DE CONTACTO</h5>
        <ul class="list-contact">
        <li><span>Asistencia telefónica Puerto montt</span><br></li>
        <li><i class="fa fa-phone"></i><a href="#" title="Línea 1">(2) 2222222</a><br></li>
          
        <li><span>Asistencia telefónica Regiones</span><br></li>
        <li><i class="fa fa-mobile"></i><a href="#" title="Línea Móvil">222222</a></li>
        
          <!--<li><i class="fa fa-map-marker"></i>10 de Julio 318 - Santiago de Chile<br></li>-->
          <li><i class="fa fa-envelope"></i><a href="mailto:ventas@sublimajs.cl" title="Mail">ventas@sublimajs.cl</a></li>
          <li><i class="fa fa-link"></i><a href="#" title="Página Web">www.sublimajs.cl</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <p>Tienda de carcasas(<a href="#" class="linkPage ">sublimajs.cl</a>) todos los derechos reservados 2022    </p>
     
    </div>
</footer>